<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kanline1-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://kanline1-001-site1.ctempurl.com:8172/msdeploy.axd?site=kanline1-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>kanline1-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\kanline1-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppCourierContext" Order="1" Enabled="True">
          <Destination Path="Data Source=sql6001.site4now.net;AttachDbFilename=&quot;E:\Projekt Inzynierka\systemkurierskipracainzynierska23.10\systemkurierski\SystemKurierskiPracaInzynierska\App_Data\aspnet-SystemKurierskiPracaInzynierska-20170910091949.mdf&quot;;User ID=DB_A2CA3D_dawdaw_admin;Password=Admin123!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SystemKurierskiPracaInzynierska.DataAccess.Context.AppCourierContext, SystemKurierskiPracaInzynierska.DataAccess" MigrationConfiguration="SystemKurierskiPracaInzynierska.DataAccess.Migrations.Configuration, SystemKurierskiPracaInzynierska.DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppCourierContext-Web.config Connection String">
      <ParameterValue>Data Source=sql6001.site4now.net;AttachDbFilename="E:\Projekt Inzynierka\systemkurierskipracainzynierska23.10\systemkurierski\SystemKurierskiPracaInzynierska\App_Data\aspnet-SystemKurierskiPracaInzynierska-20170910091949.mdf";User ID=DB_A2CA3D_dawdaw_admin;Password=Admin123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>